<?xml version="1.0"?>

<launch>
  <arg name="rviz" default="true" />
  <!-- define base frame as vicon world, and pose frame as segment. change parameters to track
  different segments -->
  <arg name="base_frame" default="vicon/world" />
  <arg name="pose_frame" default="vicon/kobukki_0/kobukki_0" />
  <arg name="pose_topic" default="robot_0" />

  <!-- sudo frame over vicon, and SLAM frame. Connects SLAM frame and vicon frame with R,t param -->
  <arg name="sudo_frame" default="sudo" />
  <arg name="map_frame" default="map" />
  <!-- pose publish node topic name -->
  <arg name="pose_from_tf" default="tf_to_pose" />
  <!-- IP and port on Vicon Windows PC -->
  <arg name="datastream_hostport" default="192.168.0.173:801" />
  <!-- Fixed vicon world frame -->
  <arg name="vicon_world_frame" default="/vicon/world" />

  <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
    <param name="stream_mode" value="ServerPush" />
    <param name="datastream_hostport" value="$(arg datastream_hostport)" />
    <param name="tf_ref_frame_id" value="$(arg vicon_world_frame)" />
  </node>
  <!-- launch vicon calibrator node -->
  <node pkg="vicon_monitor" type="vicon_tf.py" name="vicon_tf" output="screen">
    <param name="~base_frame" value="$(arg base_frame)" />
    <param name="~pose_frame" value="$(arg pose_frame)" />
    <!-- <param name="~pose_from_tf" value="$(arg pose_from_tf)"/> -->
    <param name="~sudo_frame" value="$(arg sudo_frame)" />
    <param name="~map_frame" value="$(arg map_frame)" />
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
      args="-d $(find vicon_monitor)/config/vicon_monitor.rviz" />
  </group>

</launch>